BasedOnStyle: Google
ColumnLimit: '90'
IndentWidth: '4'
TabWidth: '4'
AccessModifierOffset: '-4'
MaxEmptyLinesToKeep: '4'
UseTab: Never
SortIncludes: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None

